/*----------------------------------------------------------- Reset -------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

/*------------------------------------------------ ELEMENTOS AUXILIARES ---------------------------------------------*/
.color1 {
    background-color: rgba(1, 19, 38, 0.7);
}

.color2 {
    background-color: #0F3D3E;
}

.color3 {
    background-color: #FFC900;
}

.color4 {
    background-color: #187498;
}

.color5 {
    background-color: #FFB200;
}

.color6 {
    background-color: #0C1E7F;
}

.color7 {
    background-color: #293462;
}

.color8 {
    background-color: #FF6FB5;
}

.color9 {
    background-color: #F47340;
}

.color10 {
    background-color: #91D18B;
}

.hr {
    color: transparent;
}

.top-space {
    padding-top: 15vh;
}

.top-space1 {
    padding-top: 5vh;
}

.top-space2 {
    padding-top: 15vw;
}

.top-separation {
    margin-top: 10vh;
}

.bottom-separation {
    margin-bottom: 5vw;
}

.bottom-separation1 {
    padding-bottom: 15vw;
}

.side__separation{
    margin-left: 10vw;
    margin-right: 10vw;
}

.bottom-separation2 {
    padding-bottom: 5vh;
}

.main-text {
    font-family: 'Pacifico', cursive;
}

.textE:hover{
    animation: rubberBand;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.fontSize {
    font-size: 1.5rem;
}

.fontSize1 {
    font-size: 3rem;
}

.card{
    margin-left: auto;
    margin-right: auto;
}

h1:hover{
    animation: rubberBand;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

/*-------------------------------------------------------- NAV ------------------------------------------------------------*/
.nav {
    background-color: #590696;
}

.nav a:hover{
    animation: shakeY;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

/*------------------------------------------------------- FOOTER ----------------------------------------------------------*/
.footer-color {
    background-color: rgba(0, 0, 0, 0.2);
}

/*------------------------------------------------------- INDEX -----------------------------------------------------------*/

.container-fluid {
    height: 90%;
    width: 100%;
}

.carousel-inner img {

    width: 100%;
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

#logo {
    margin-left: auto;
    margin-right: auto;
}

#logo:hover{
    animation: fadeIn;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s;
    /* don't forget to set a duration! */
}

.fondoMision {
    background-image: url(../img/mision.jpg);
    background-size: 100vw 100%;
    height: 100%;
}


/*---------------------------------------------------- PRE-KINDER ---------------------------------------------------------*/
.fondo2 {
    background-image: url(../img/img19.jpg);
    background-size: 100vw 90vw;
    height: 90vw;
}


/*------------------------------------------------------ KINDER -----------------------------------------------------------*/
.fondo1 {
    background-image: url(../img/img13.jpg);
    background-size: 100vw 100vw;
    height: 100vw;
}


/*---------------------------------------------------- PRE-PRIMARIA -------------------------------------------------------*/

.accordion .accordion-item {
    background-color: #FFF89A;
}

.accordion .accordion-item .accordion-header .accordion-button {
    background-color: #210d41;
}

.card {
    width: 18rem;
}

.fondo3 {
    background-image: url(../img/img20.jpg);
    background-size: 100vw 100%;
    height: 100vw;
}

/*------------------------------------------------------- PRIMARIA --------------------------------------------------------*/

.fondo4 {
    background-image: url(../img/img21.jpg);
    background-size: 100vw 100%;
    height: 100vw;
}