$bg-transparente: rgba(1, 19, 38, 0.7);
$bg-nav: #590696;
$bg-nav1:#1B2430;
$bg1: #0F3D3E;
$bg2: #FFC900;
$bg3: #187498;
$bg4: #FFB200;
$bg5: #0C1E7F;
$bg6: #293462;
$bg7: #FF6FB5;
$bg8: #F47340;
$bg9: #91D18B;
